@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// $cor-texto: #333;
$fonte-principal: "Roboto", sans-serif;

$bg: #000000;
// $text: #222222;
$text: #fff;
$primary: #1dcd9f;
$secondary: #169976;
