@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// $cor-texto: #333;
$fonte-principal: "Roboto", sans-serif;

// $bg: #ffffff;
// $text: #0f0f0f;
// $primary: #00d9ff; // ciano neon
// $secondary: #6c63ff; // roxo azulado
// $accent: #ff2e63; // rosa neon

$bg: #fefefe;
$text: #202124;
$primary: #4285f4; // azul Google
$secondary: #ea4335; // vermelho Google
$accent: #34a853; // verde Google

// $bg:        #f4f4f5;
// $text:      #1c1c1e;
// $primary:   #0a84ff;   // azul Apple
// $secondary: #ff9f0a;   // laranja Apple
// $accent:    #32d74b;   // verde Apple
