// Reset primeiro
@use "./base/body";
@use "./base/reset";

// Variáveis e configurações
@use "./partials/variaveis" as *;
@use "./partials/cores" as *;
@use "./partials/tipografia" as *;
@use "./partials/mixins" as *;

// Componentes
@use "./components/botoes";

.header {
  width: 100%;
  @include centralizar;

  .title {
    width: 100%;
    padding: 15px;
    text-align: center;
    color: $text;
  }
}

.main {
  @include centralizar;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 15%;

  .section_join {
    @include centralizar;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .input {
      width: 85%;
      height: auto;
      padding: 15px 10px;
      font-size: 17px;
      border-radius: 10px;
      border: none;
      outline: none;
    }
  }

  .section_result {
    width: 100%;
    @include centralizar;
    flex-direction: column;
    gap: 20px;
  }
}
