// Reset primeiro
@import "./base/body";
@import "./base/reset";

// Variáveis e configurações
@import "./partials/variaveis";
@import "./partials/cores";
@import "./partials/tipografia";
@import "./partials/mixins";

// Componentes
@import "./components/botoes";

.header {
  width: 100%;
  @include centralizar;

  .title {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}

.sections {
  width: 100%;
  height: 40%;
  padding: 10px;
  text-align: center;
  @include centralizar;
  flex-direction: column;
  gap: 40px;

  .section {
    width: 90%;
    height: 300px;
    background-color: $primary;
    border-radius: 10px;
    text-align: center;
    @include centralizar;
  }
}
